
html, body {
	margin: 0;
	padding: 0;
	touch-action: none;
}

body {
	font-family: 'PT Sans', sans-serif;
}

.model-row {
	position: relative;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
}

.model-wrapper {
	position: relative;
	width: 100%;
	padding-bottom: 75%;
	height: 0;
}

.model-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.model-container canvas {
	width: 100%;
	height: 100%;
	background: #aeaeae;
}

.app-toolbar {
	background: #eee;
	padding: 5px;
}

.umk-button {
	width: 3em;
	height: 3em;
	margin: 0.1em;
}

.umk-body {
	width: 18em;
	margin: 0 auto;
}

.display {
	font-family: 'Lucida Console', 'Consolas', monospace;
	font-size: 20pt;
	padding: 2pt 4pt;
	/*border: 2px solid #aaa;
	border-radius: 2pt;*/
}

small {
	font-size: 0.4em;
	line-height: 0.1em;
}
